.page {
  color: var(--text-color, #000000);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  line-height: 117%;
  background-color: var(--bg-color, #ffffff);
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight-normal, 410);
}

.decorated-block {
  margin: 0 auto;
  border: 2px solid var(--accent-color, #000000);
  background-color: var(--bg-color, #ffffff);
  inline-size: var(--block-size, 700px);
}

.header {
  margin-block: 100px;
  padding-block: clamp(122px, 20vw, 130px);
  font-family: var(--accent-font, monospace);
  text-align: center;
}

.header__logo {
  display: block;
  margin-block-end: 20px;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
}

.header__title {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  text-transform: uppercase;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color, #000000);
  padding: 10px;
  font-family: var(--accent-font, monospace);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  background-color: var(--bg-color, #ffffff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  min-inline-size: 130px;
}

.button--save {
  display: grid;
  grid-template-columns: 21px 1fr;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 15px 18px;
  line-height: 90%;
}

.button--ok {
  text-transform: uppercase;
  inline-size: 100%;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--button-difference-color, #ffffff);
  mix-blend-mode: difference;
}

.button__icon {
  position: relative;
  z-index: 2;
  fill: var(--button-difference-color, #ffffff);
  mix-blend-mode: difference;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--accent-color, #000000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000000);
}

.card {
  margin-block-end: 50px;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  line-height: 118%;
  font-variation-settings: 'wght' var(--main-font-weight-bold, 715);
}

.card__image-wrapper {
  position: relative;
  margin: 0;
}

.card__label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font, monospace);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-shadow:
    -1px 0 var(--card-label-stroke-color, #ffffff),
    0 1px var(--card-label-stroke-color, #ffffff),
    1px 0 var(--card-label-stroke-color, #ffffff),
    0 -1px var(--card-label-stroke-color, #ffffff);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--card-label-stroke-color, #ffffff)) {
  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--card-label-stroke-color, #ffffff);
  }
}

.card__image {
  border-block: 2px solid var(--accent-color, #000000);
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__inner {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
  align-self: flex-end;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  block-size: 38px;
  inline-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000000);
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--heart-dark-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-dark-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: flash-sparks 0.3s ease-in 0.3s 1;
}

.dialog {
  border: 2px solid var(--accent-color, #000000);
  padding: 28px;
  font-family: var(--accent-font, monospace);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--bg-color, #ffffff);
  max-inline-size: clamp(341px, 90%, 353px);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: var(--accent-color, #000000);
}

.dialog__content {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
}

.footer {
  margin-block: 50px 100px;
}

.filter-invert {
  filter: invert(0.7);
}

.filter-blur {
  filter: blur(0.5rem);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-saturate {
  filter: saturate(250%);
}

.filter-hue-rotate {
  filter: hue-rotate(-100deg);
}

.filter-sepia {
  filter: sepia(70%);
}

.filter-multiple {
  filter: opacity(0.8) contrast(1.5) brightness(200%);
}

@media (width <= 375px) {
  .button--save {
    grid-template-columns: auto;
    grid-template-rows: 28px 14px;
    justify-items: center;
  }

  .dialog {
    padding-inline: 38px;
  }
}
