/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  color: var(--main-color, #000000);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  line-height: 117%;
  background-color: var(--bg-color, #ffffff);
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight-normal, 410);
}

.decorated-block {
  margin: 0 auto;
  border: 2px solid var(--main-color, #000000);
  background-color: var(--bg-color, #ffffff);
  inline-size: var(--block-size, 700px);
}

.header {
  margin-block: 100px;
  padding-block: clamp(122px, 20vw, 130px);
  font-family: var(--accent-font, monospace);
  text-align: center;
}

.header__logo {
  display: block;
  margin-block-end: 20px;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
}

.header__title {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  text-transform: uppercase;
}

.button {
  border: 2px solid var(--main-color, #000000);
  padding: 10px;
  font-family: var(--accent-font, monospace);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: capitalize;
  background-color: var(--bg-color, #ffffff);
  cursor: pointer;
  min-inline-size: 130px;
}

.button--save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 15px;
  line-height: 150%;
  min-inline-size: 335px;
}

.button--ok {
  text-transform: uppercase;
  inline-size: 100%;
}

.button__text {
}

.card {
  margin-block-end: 50px;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  line-height: 118%;
  font-variation-settings: 'wght' var(--main-font-weight-bold, 715);
}

.card__image-wrapper {
  position: relative;
  margin: 0;
}

.card__label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font, monospace);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-shadow:
    -1px 0 var(--card-label-stroke-color, #ffffff),
    0 1px var(--card-label-stroke-color, #ffffff),
    1px 0 var(--card-label-stroke-color, #ffffff),
    0 -1px var(--card-label-stroke-color, #ffffff);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--card-label-stroke-color, #ffffff))) {
  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--card-label-stroke-color, #ffffff);
  }
}

.card__image {
  border-block: 2px solid var(--main-color, #000000);
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__inner {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
  align-self: flex-end;
}

.card__icon-button {
  border: none;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
  block-size: 38px;
  inline-size: 38px;
}

.card__like-button {
}

.dialog {
  border: 2px solid var(--main-color, #000000);
  padding: 28px;
  font-family: var(--accent-font, monospace);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--bg-color, #ffffff);
  max-inline-size: clamp(341px, 90%, 353px);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: var(--main-color, #000000);
}

.dialog__content {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
}

.footer {
  margin-block: 50px 100px;
}
