:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --main-font-weight-normal: 410;
  --main-font-weight-bold: 715;
  --primary-color: #ffffff;
  --accent-color: #000000;
  --text-color: var(--accent-color);
  --bg-color: var(--primary-color);
  --bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --block-size: clamp(375px, 100%, 700px);
  --card-label-stroke-color: var(--primary-color);
  --button-difference-color: var(--primary-color);
  --heart-dark-color: var(--accent-color);
  --heart-main-color: #ff0000;
}
